.common{
  position: absolute;
}
.nav{
  position: relative;
  float: right;
  font-size: 75%;
}
.footer {
  position: absolute;
  bottom: 0px;
  left : 0px;
  right: 0px;
  font-size: 50%;
  font-style: italic;
  text-align: center;
  background-color: rgba(169, 169, 169, 0.75);
  color: black;

}
.header{
  top: 0px;
  left : 0px;
  right: 0px;
  text-align: center;
  z-index: -1;
 
}
.content{
  top: 70px;
  left : 10%;
  right: 10%;
  bottom: 30px;
   background-color: rgb(4, 34, 34, .9);
}