body {
  font-family: 'Adorn Serif', serif, 'times new roman' ;
  background-color: rgb(248, 247, 230);
}
h1,h2,h3,.subheading{
  font-family: 'Adorn Serif', serif, 'times new roman' !important;
}
a:hover{
  color: rgb(221, 193, 142) !important;
}